{% extends "base.html" %}


{% block title %}
About CSP | NutriCare
{% endblock %}


{% block content %}


<section class="about-hero">

    <span class="badge">
        About Our Project
    </span>


    <h1>
        COMMUNITY SERVICE PROJECT TEAM
    </h1>


    <p>
        Nutrition and Health Awareness
    </p>

</section>



<section class="about-grid">


    <div class="about-card">

        <div class="about-icon">
            👥
        </div>

        <h2>
           NAME: A.AKHIL BEJAY<br>
           ROLL_NO: 24JNA30008<br>
           BRANCH: AI&DS-A
        </h2>

        <p>
            The objective of this project is to create
            simple awareness about nutrition, hydration,
            physical activity, food hygiene and healthy
            lifestyle practices.
        </p>

    </div>



    <div class="about-card">

        <div class="about-icon">
            👥
        </div>

        <h2>
           NAME: G.ABHILASH KUMAR<br>
           ROLL_NO: 24JNA30043<br>
           BRANCH: AI&DS-A
        </h2>

        <p>
            The website is developed using Python,
            Flask, HTML and CSS. It does not require
            a database or JSON files.
        </p>

    </div>



    <div class="about-card">

        <div class="about-icon">
            👥
        </div>

        <h2>
            NAME: G.VISHUNU VARDHAN KUMAR<br>
           ROLL_NO: 24JNA30048<br>
           BRANCH: AI&DS-A
        </h2>

        <p>
            The website is designed to present
            health-awareness information in a simple
            format that can be understood by students
            and community members.
        </p>

    </div>



    <div class="about-card">

        <div class="about-icon">
            👥
        </div>

        <h2>
            NAME: G.RAMANA REDDY<br>
           ROLL_NO: 24JNA30047<br>
           BRANCH: AI&DS-A
        </h2>

        <p>
            The project is presented as an eight-week
            journey, with each week focusing on a
            different health and nutrition topic.
        </p>

    </div>

</section>



<section class="project-highlight">

    <div>

        <span class="eyebrow">
            PROJECT MESSAGE
        </span>


        <h2>
            Health awareness starts with simple knowledge.
        </h2>


        <p>
            By understanding nutrition and developing
            healthy everyday habits, individuals can
            make more informed choices about their
            lifestyle.
        </p>

    </div>


    <a
        href="{{ url_for('journey') }}"
        class="btn primary"
    >
        See 8 Weeks →
    </a>

</section>


{% endblock %}